/* 
-------------------
11. Flex and grids
-------------------
*/

/* Flex */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    width: 100%;
    gap: 2rem;
    flex-wrap: wrap;
}

.flexCR {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
}
.flexcenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.flex_spacebetween {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.flex_spacearound {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.center {
    text-align: start;
    margin: 0 auto;
}

/* Grids */
/* Used for blog posts, and sel post site */
.grid200 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}
.grid300 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}


/* CSS for Gallery Grid */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
}

