/* 

footer 

*/
footer {
    position: relative;
    background-color: var(--bgColor);
    color: var(--fontColor);
    gap: 0;
    padding: 0;
    z-index: 10;
    border-top: 1px solid var(--orange-rgba);
    
}
.footer {
    height: fit-content;
    margin: auto;
    margin-top: 3rem;
    padding: 2rem 2rem;
}
.footer p {
    margin: 0;
}

.FIcon {
    height: 2rem;
    width: 2rem;
}