
.formContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 50%;
    max-width: 500px;
    margin: auto;
    padding: 1rem;
    border-radius: 6px;
    color: var(--fontColor);
    background-color: var(--bgColor);
}
.formFill {
    display: flex;
    flex-direction: column;
}
.formFill-error {
    border-left: 3px solid var(--orange);
    padding: 0.5rem;
}
.formFill-message {
    width: 100%;
}
#name-error, #email-error, #subject-error, #message-error {
    margin:  0.5rem 0rem  0rem  0.2rem;
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--orange);
}
.formError {
    display: none;
}

.validIcon-name, .validIcon-email, .validIcon-subject, .validIcon-message {
    display: none;
}

.validIcon-name[data-visible="true"], .validIcon-email[data-visible="true"], .validIcon-subject[data-visible="true"], .validIcon-message[data-visible="true"] {
    display: inline-block;
}

.form-input {   
    padding: 0.3rem 0.7rem;
    font-size: 0.8rem;
    line-height: 1.5;
    border: 2px solid var(--bgColorLight);
    background-color: var(--bgColorLight);
    color: var(--fontColorDarker);
    border-radius: 6px;
    margin: 0.5rem;
    cursor: pointer;
}
.form-input:focus {
    outline: 1px solid var(--fontColorDarker);
    color: var(--fontColorDarker);
}
.form-label {
    margin-bottom: 0.5rem;
    margin: 0.5rem;
}
.form-label span {
    font-size: 0.8rem;
}
.form-textarea {   
    font-size: 0.8rem;
    line-height: 1.5;
    border: 2px solid var(--bgColorLight);
    background-color: var(--bgColorLight);
    color: var(--fontColorDarker);
    border-radius: 6px;
    width: 96.8%;    
    margin: 0.5rem;
    cursor: pointer;
}
.form-textarea:focus {
    outline: 1px solid var(--fontColorDarker);
    color: var(--fontColorDarker);
}

.instruction {
    font-size: 0.8rem;
}

.sendButton {
    line-height: 1.5;
    border: 1px solid var(--orange);
    background-color: var(--bgColor);
    color: var(--orange);
    border-radius: 6px;
    width: fit-content;    
    margin: 0.5rem;
    padding: 0.5rem;
    font-family: var(--firaCode);
}
.sendButton:hover {
    background-color: var(--orange);
    color: var(--bgColorDark);
}
.sendMessageContainer {
    display: none;
    padding: 1rem;
    margin-top: 1rem;
    background-color: var(--bgColorLight);
    border-radius: 6px;
}

/* loader */
.overlay {
    background: rgba(217, 217, 217, 0.50);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}