/* 
-------------------
2. Global styles
-------------------
*/

* {
    box-sizing: border-box;
}

html {
    font-family: var(--dosis);
    font-size: 16px;
    position: relative;
}

body {
    margin: 0px;
    font-family: var(--epilogue);
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    color: var(--fontColor);
    background-color: var(--bgColor);
}

main {
    position: relative;
}

figure {
    margin: 0;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

a {
    text-decoration: none;
    font-family: var(--firaCode);
    font-size: 1rem;
    cursor: pointer;
}

h1,
h2,
h3,
h4 {
    font-family: var(--firaCode)
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.35rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.1rem;
    margin: 0.5rem;
    padding-top: 1rem;
}

p {
    font-family: var(--montserrat);
    font-weight: 400;
    font-size: 1rem;
}

.h1Title,
.h1Post {
    margin: 1rem 0 0;
    width: 100%;
}

.sectionTitle {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    position: relative;
    font-weight: 400;
    color: var(--orange);
}

.aboutMeImg {
    border-radius: 100%;
    height: 20rem;
    width: 20rem;
    object-fit: cover;
}

.sectionTitle::before {
    content: "";
    background-image: url("/img/section-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
}


.pointer {
    cursor: pointer;
}

button {
    cursor: pointer;
}
.custom-icon-size {
    font-size: 1.4rem;
}

.backgroundDiv {
    position: relative;
    background-color: var(--bgColor);
    width: 100%;
    height: fit-content;
    z-index: 2;
    padding-bottom: 2rem;
}

/* Other global selectors */

.hidden_element {
    display: none;
}

.hiddenElement {
    /* used on scroll animations */
    opacity: 0;
    transition: all 1s;
}
.appear { /* needs to be after hiddenElement here in css */
    opacity: 1;
}

@media(prefers-reduced-motion) {
    .hiddenElement {
        transition: none;
    }
}

.content_wrap {
    /* add as page margin */
    width: 80%;
    margin: 0px auto;
    max-width: 1600px;
}

.scroll {
    overflow: scroll;
}

.loaderArea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem auto;
}

.loaderAbsolute {
    position: absolute;
    background-color: var(--bgColor);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.absC {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 
    loader div:
    HTML: <div class="loader"></div> 
*/
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: var(--orange) #0000;
    animation: loader 1s infinite;
}

@keyframes loader {
    to {
        transform: rotate(.5turn);
    }
}

/* Logo image */

.logo_site {
    height: 3.4rem;
    width: 3rem;
}
.logo_site.downsize {
    transform: scale(0.8);
    transition: transform 0.3s ease;
}

.logo-area_title {
    text-transform: uppercase;
    font-family: var(--firaCode);
    color: var(--fontColor);
    font-weight: 800;
    font-size: 1.2rem;
    text-align: center;
    text-wrap: wrap;
    padding: 0.5rem 0.8rem;
    margin: 1rem 0;
    transition: margin 0.3s ease-in-out;
}
.logo-area_title.margin0 {
    margin: 0;
}

.contactMe {
    margin: 2rem 0;
    padding: 1rem 3rem;
    border-radius: 6px;
}
