/* 
-------------------
19. Media Queries
-------------------

Content:
- min-width: 2000px
- min-width: 1600px
- max-width: 1150px
- max-width: 940px
- max-width: 760px
- max-width: 670px
- max-width: 460px

*/

@media (min-width: 1600px) {
    * {
        font-size: 18px;
    }

    a,
    p {
        font-size: 1rem;
    }

    .headerContainer {
        height: calc(var(--vh, 1vh) * 80);
    }

    .headerImg {
        height: calc(var(--vh, 1vh) * 60);
    }
    .logo_site {
        width: 3.2rem;
    }
}

@media (max-width: 800px) {
    .header {
        background-color: hidden;
        min-height: fit-content;
        min-height: 4rem;
        flex-direction: column;
        align-items: flex-start;
        margin: 0rem;
    }

    .headerContainer {
        height: calc(var(--vh, 1vh) * 60);
    }

    .headerImg {
        height: calc(var(--vh, 1vh) * 60);
        background-position: 30%;
    }

    .nav-menu {
        position: absolute;
        top: 0;
        display: hidden;
        background-color: var(--bgColor);
        width: 100%;
        margin: 0;
        padding: 3rem 2rem 0 2rem;
        transition: transform 0.5s ease-in-out;
        transform: translateY(-100%);
    }

    .nav-menu[data-visible="true"] {
        transform: translateY(0);
    }

    .logo_site {
        z-index: 2;
        padding: 0.5rem 0;
        height: 3.6rem;
        width: 2.5rem;
    }

    .hamburger_icon {
        position: absolute;
        display: flex;
        z-index: 101;
        right: 1rem;
    }

    .circle {
        position: absolute;
        right: 3rem;
    }

    .headerHome.visible {
        background-color: none;
    }

    .nav-menu-ul {
        flex-direction: column;
        width: 100%;
    }

    .nav-menu-ul li,
    .nav-menu_a {
        width: 100%;
    }

    .nav-menu-ul li a {
        color: var(--fontColor);
        padding: 0.3rem 0.6rem;
    }


    /* When hamburger-icon is clicked nav-menu opens and hamburgermenu changes icon*/
    .nav-menu[data-visible="true"] {
        display: flex;
    }

    .background-img {
        height: 30vh;
        min-height: 200px;
        max-height: fit-content;
    }

    .blogCard-img {
        height: fit-content;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
    }

    .background-wrapper {
        display: none;
    }

    /* container flex */
    .sectionAbout,
    .flexCR,
    .sectionContact {
        flex-direction: column;
    }

    .container-box_items h2 {
        text-align: center;
    }

    .contact-info_div {
        width: 100%;
        padding: 1rem;
    }

}

@media (max-width: 500px) {
    * {
        font-size: 14px;
    }

    .content_wrap {
        width: 94%;
        margin: 0px auto;
        max-width: 1600px;
    }


    .logo-area_title {
        display: none;
    }

    /* grid and flexes change */
    .grid300 {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1rem;
    }

    .aboutMeImg {
        width: 100%;
    }

    .headerContainer {
        height: calc(var(--vh, 1vh) * 40);
    }
    .headerTitle {
        font-size: 1.5rem;
    }

    .headerImg {
        position: relative;
        height: calc(var(--vh, 1vh) * 20);
        background-position: 50%;
        background-position-y: 1%;
    }

    /* Carousel home */
    .arrow {
        background-color: var(--white);
    }

    .arrow:hover {
        background-color: var(--white);
    }

    .right {
        right: 0;
    }

    .left {
        left: 0;
    }
}

@media (max-width:250px) {
    * {
        font-size: 14px;
    }
}