#skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.skillLink {
    position: relative;    
}
.skillImg {    
    padding: 0.5rem;
    background-color: var(--white-rgba);
    border-radius: 6px;
    width: 6rem;
    height: 6rem;
    transition: transform 0.3s ease-in-out;
}
.skillLink:hover {
    transform: scale(1.02);
}